In [151]:
import numpy as np
from business_duration import businessDuration
import pandas as pd
from datetime import time,datetime
#import holidays as pyholidays
from datetime import timedelta
import datetime

In [152]:
df = pd.read_excel('Phase2DataFile(1).xlsx')
#df.head()

In [153]:
df["EnTime"]=pd.to_datetime(df['EnTime'])
df["ExTime"]=pd.to_datetime(df['ExTime'])

In [154]:
time1=datetime.datetime(2022,3,24,1)
time2=datetime.datetime(2022,3,24,2)
time3=datetime.datetime(2022,3,24,3)
time4=datetime.datetime(2022,3,24,4)
time5=datetime.datetime(2022,3,24,5)
time6=datetime.datetime(2022,3,24,6)
time7=datetime.datetime(2022,3,24,7)
time8=datetime.datetime(2022,3,24,8)
time9=datetime.datetime(2022,3,24,9)
time10=datetime.datetime(2022,3,24,10)
time11=datetime.datetime(2022,3,24,11)
time12=datetime.datetime(2022,3,24,12)
time13=datetime.datetime(2022,3,24,13)
time14=datetime.datetime(2022,3,24,14)
time15=datetime.datetime(2022,3,24,15)
time16=datetime.datetime(2022,3,24,16)
time17=datetime.datetime(2022,3,24,17)
time18=datetime.datetime(2022,3,24,18)
time19=datetime.datetime(2022,3,24,19)
time20=datetime.datetime(2022,3,24,20)
time21=datetime.datetime(2022,3,24,21)
time22=datetime.datetime(2022,3,24,22)
time23=datetime.datetime(2022,3,24,23)
time24=datetime.datetime(2022,3,24,23,59)

In [155]:
condition1=(df["EnTime"]<=time1) & (df["ExTime"]>= time2)|((time1<=df["EnTime"]) & (df["EnTime"]<=time2))
condition2=(df["EnTime"]<=time2) & (df["ExTime"]>= time3)|((time2<=df["EnTime"]) & (df["EnTime"]<=time3))
condition3=(df["EnTime"]<=time3) & (df["ExTime"]>= time4)|((time3<=df["EnTime"]) & (df["EnTime"]<=time4))
condition4=(df["EnTime"]<=time4) & (df["ExTime"]>= time5)|((time4<=df["EnTime"]) & (df["EnTime"]<=time5))
condition5=(df["EnTime"]<=time5) & (df["ExTime"]>= time6)|((time5<=df["EnTime"]) & (df["EnTime"]<=time6))
condition6=(df["EnTime"]<=time6) & (df["ExTime"]>= time7)|((time6<=df["EnTime"]) & (df["EnTime"]<=time7))
condition7=(df["EnTime"]<=time7) & (df["ExTime"]>= time8)|((time7<=df["EnTime"]) & (df["EnTime"]<=time8))
condition8=(df["EnTime"]<=time8) & (df["ExTime"]>= time9)|((time8<=df["EnTime"]) & (df["EnTime"]<=time9))
condition9=(df["EnTime"]<=time9) & (df["ExTime"]>= time10)|((time9<=df["EnTime"]) & (df["EnTime"]<=time10))
condition10=(df["EnTime"]<=time10) & (df["ExTime"]>= time11)|((time10<=df["EnTime"]) & (df["EnTime"]<=time11))
condition11=(df["EnTime"]<=time11) & (df["ExTime"]>= time12)|((time11<=df["EnTime"]) & (df["EnTime"]<=time12))
condition12=(df["EnTime"]<=time12) & (df["ExTime"]>= time13)|((time12<=df["EnTime"]) & (df["EnTime"]<=time13))
condition13=(df["EnTime"]<=time13) & (df["ExTime"]>= time14)|((time13<=df["EnTime"]) & (df["EnTime"]<=time14))
condition14=(df["EnTime"]<=time14) & (df["ExTime"]>= time15)|((time14<=df["EnTime"]) & (df["EnTime"]<=time15))
condition15=(df["EnTime"]<=time15) & (df["ExTime"]>= time16)|((time15<=df["EnTime"]) & (df["EnTime"]<=time16))
condition16=(df["EnTime"]<=time16) & (df["ExTime"]>= time17)|((time16<=df["EnTime"]) & (df["EnTime"]<=time17))
condition17=(df["EnTime"]<=time17) & (df["ExTime"]>= time18)|((time17<=df["EnTime"]) & (df["EnTime"]<=time18))
condition18=(df["EnTime"]<=time18) & (df["ExTime"]>= time19)|((time18<=df["EnTime"]) & (df["EnTime"]<=time19))
condition19=(df["EnTime"]<=time19) & (df["ExTime"]>= time20)|((time19<=df["EnTime"]) & (df["EnTime"]<=time20))
condition20=(df["EnTime"]<=time20) & (df["ExTime"]>= time21)|((time20<=df["EnTime"]) & (df["EnTime"]<=time21))
condition21=(df["EnTime"]<=time21) & (df["ExTime"]>= time22)|((time21<=df["EnTime"]) & (df["EnTime"]<=time22))
condition22=(df["EnTime"]<=time22) & (df["ExTime"]>= time23)|((time22<=df["EnTime"]) & (df["EnTime"]<=time23))
condition23=(df["EnTime"]<=time23) & (df["ExTime"]>= time24)|((time23<=df["EnTime"]) & (df["EnTime"]<=time24))
condition24=(df["EnTime"]<=time24) & (df["ExTime"]<= time1)|((time24<=df["EnTime"]) & (df["EnTime"]<=time1))

In [156]:
closes_am= df['Ending Hour'] < df['Beginning Hour']

In [157]:
df.loc[condition1,'OneAM']=1
df.loc[~condition1,'OneAM']=0
df.loc[condition2,'TwoAM']=1
df.loc[~condition2,'TwoAM']=0
df.loc[condition3,'ThreeAM']=1
df.loc[~condition3,'ThreeAM']=0
df.loc[condition4,'FourAM']=1
df.loc[~condition4,'FourAM']=0
df.loc[condition5,'FiveAM']=1
df.loc[~condition5,'FiveAM']=0
df.loc[condition6,'SixAM']=1
df.loc[~condition6,'SixAM']=0
df.loc[condition7,'SevenAM']=1
df.loc[~condition7,'SevenAM']=0
df.loc[condition8,'EightAM']=1
df.loc[~condition8,'EightAM']=0
df.loc[condition9,'NineAM']=1
df.loc[~condition9,'NineAM']=0
df.loc[condition10,'TenAM']=1
df.loc[~condition10,'TenAM']=0
df.loc[condition11,'ElevenAM']=1
df.loc[~condition11,'ElevenAM']=0
df.loc[condition12,'TwelvePM']=1
df.loc[~condition12,'TwelvePM']=0
df.loc[condition13,'ThirteenPM']=1
df.loc[~condition13,'ThirteenPM']=0
df.loc[condition14,'FourteenPM']=1
df.loc[~condition14,'FourteenPM']=0
df.loc[condition15,'FifteenPM']=1
df.loc[~condition15,'FifteenPM']=0
df.loc[condition16,'SixteenPM']=1
df.loc[~condition16,'SixteenPM']=0
df.loc[condition17,'SeventeenPM']=1
df.loc[~condition17,'SeventeenPM']=0
df.loc[condition18,'EighteenPM']=1
df.loc[~condition18,'EighteenPM']=0
df.loc[condition19,'NineteenPM']=1
df.loc[~condition19,'NineteenPM']=0
df.loc[condition20,'TwentyPM']=1
df.loc[~condition20,'TwentyPM']=0
df.loc[condition21,'TwentyOnePM']=1
df.loc[~condition21,'TwentyOnePM']=0
df.loc[condition22,'TwentyTwoPM']=1
df.loc[~condition22,'TwentyTwoPM']=0
df.loc[condition23,'TwentyThreePM']=1
df.loc[~condition23,'TwentyThreePM']=0
df.loc[condition24,'TwentyFourPM']=1
df.loc[~condition24,'TwentyFourPM']=0

In [125]:
df.loc[((closes_am) & (condition24)),'FourAM']=1
df.loc[((closes_am) & (~condition24)),'FourAM']=0
df.loc[((closes_am) & (condition1)),'FiveAM']=1
df.loc[((closes_am) & (~condition1)),'FiveAM']=0
df.loc[((closes_am) & (condition2)),'SixAM']=1
df.loc[((closes_am) & (~condition2)),'SixAM']=0
df.loc[((closes_am) & (condition3)),'SevenAM']=1
df.loc[((closes_am) & (~condition3)),'SevenAM']=0
df.loc[((closes_am) & (condition4)),'EightAM']=1
df.loc[((closes_am) & (~condition4)),'EightAM']=0
df.loc[((closes_am) & (condition5)),'NineAM']=1
df.loc[((closes_am) & (~condition5)),'NineAM']=0
df.loc[((closes_am) & (condition6)),'TenAM']=1
df.loc[((closes_am) & (~condition6)),'TenAM']=0
df.loc[((closes_am) & (condition7)),'ElevenAM']=1
df.loc[((closes_am) & (~condition7)),'ElevenAM']=0
df.loc[((closes_am) & (condition8)),'TwelvePM']=1
df.loc[((closes_am) & (~condition8)),'TwelvePM']=0
df.loc[((closes_am) & (condition9)),'ThirteenPM']=1
df.loc[((closes_am) & (~condition9)),'ThirteenPM']=0
df.loc[((closes_am) & (condition10)),'FourteenPM']=1
df.loc[((closes_am) & (~condition10)),'FourteenPM']=0
df.loc[((closes_am) & (condition11)),'FifteenPM']=1
df.loc[((closes_am) & (~condition11)),'FifteenPM']=0
df.loc[((closes_am) & (condition12)),'SixteenPM']=1
df.loc[((closes_am) & (~condition12)),'SixteenPM']=0
df.loc[((closes_am) & (condition13)),'SeventeenPM']=1
df.loc[((closes_am) & (~condition13)),'SeventeenPM']=0
df.loc[((closes_am) & (condition14)),'EighteenPM']=1
df.loc[((closes_am) & (~condition14)),'EighteenPM']=0
df.loc[((closes_am) & (condition15)),'NineteenPM']=1
df.loc[((closes_am) & (~condition15)),'NineteenPM']=0
df.loc[((closes_am) & (condition16)),'TwentyPM']=1
df.loc[((closes_am) & (~condition16)),'TwentyPM']=0
df.loc[((closes_am) & (condition17)),'TwentyOnePM']=1
df.loc[((closes_am) & (~condition17)),'TwentyOnePM']=0
df.loc[((closes_am) & (condition18)),'TwentyTwoPM']=1
df.loc[((closes_am) & (~condition18)),'TwentyTwoPM']=0
df.loc[((closes_am) & (condition19)),'TwentyThreePM']=1
df.loc[((closes_am) & (~condition19)),'TwentyThreePM']=0
df.loc[((closes_am) & (condition20)),'TwentyFourPM']=1
df.loc[((closes_am) & (~condition20)),'TwentyFourPM']=0
df.loc[((closes_am) & (condition21)),'OneAM']=1
df.loc[((closes_am) & (~condition21)),'OneAM']=0
df.loc[((closes_am) & (condition22)),'TwoAM']=1
df.loc[((closes_am) & (~condition22)),'TwoAM']=0
df.loc[((closes_am) & (condition23)),'ThreeAM']=1
df.loc[((closes_am) & (~condition23)),'ThreeAM']=0

In [135]:
df.to_excel("OccupationByhour20-21.xlsx")

In [160]:
##df[['Lot Number','Vehicle','Entry','Exit','OneAM','TwoAM','ThreeAm','FourAM','FiveAM','SixAM','SevenAM','EightAM','NinePM','TenAM','ElevenAM','TwelvePM','ThirteenPM','FourteenPM','SixteenPM','SeventeenPM','EighteenPM','NineteenPM']]

KeyError: "['Lot Number', 'ThreeAm', 'NinePM'] not in index"

In [150]:
df2=df.groupby(['LotNumber','Entry Date']).sum() # group by lot number, and entry date and count

                               Rate/hr  All Day Rate  Minutes for Daily Rate  \
LotNumber Entry Date
5         2019-09-03 00:00:00   291.00          1164                   23280
          2019-09-04 00:00:00   225.00           900                   18000
          2019-09-05 00:00:00   285.00          1140                   22800
          2019-09-06 00:00:00   222.00           888                   17760
          2019-09-07 00:00:00   126.00           504                   10080
...                                ...           ...                     ...
9DU       2021-10-20              2.25            15                    1200
          2021-10-21              1.50            10                     800
          2021-10-22              1.50            10                     800
          2021-10-25              0.75             5                     400
          2021-10-28              2.25            15                    1200

                               Min Minutes  Min Minutes rate    Year  \
LotNumber Entry Date
5         2019-09-03 00:00:00         1940             97.00  195843
          2019-09-04 00:00:00         1500             75.00  151425
          2019-09-05 00:00:00         1900             95.00  191805
          2019-09-06 00:00:00         1480             74.00  149406
          2019-09-07 00:00:00          840             42.00   84798
...                                    ...               ...     ...
9DU       2021-10-20                    60              0.75    6063
          2021-10-21                    40              0.50    4042
          2021-10-22                    40              0.50    4042
          2021-10-25                    20              0.25    2021
          2021-10-28                    60              0.75    6063

                               Duration (minutes)  OneAM  TwoAM  ThreeAM  ...  \
LotNumber Entry Date                                                      ...
5         2019-09-03 00:00:00             21007.0    0.0    0.0      0.0  ...
          2019-09-04 00:00:00             19788.0    0.0    0.0      0.0  ...
          2019-09-05 00:00:00             21571.0    0.0    0.0      0.0  ...
          2019-09-06 00:00:00             15239.0    0.0    0.0      0.0  ...
          2019-09-07 00:00:00              4234.0    0.0    0.0      0.0  ...
...                                           ...    ...    ...      ...  ...
9DU       2021-10-20                        120.0    0.0    0.0      0.0  ...
          2021-10-21                        121.0    0.0    0.0      0.0  ...
          2021-10-22                        505.0    0.0    0.0      0.0  ...
          2021-10-25                         20.0    0.0    0.0      0.0  ...
          2021-10-28                        324.0    0.0    0.0      0.0  ...

                               FifteenPM  SixteenPM  SeventeenPM  EighteenPM  \
LotNumber Entry Date
5         2019-09-03 00:00:00       13.0        9.0          6.0         3.0
          2019-09-04 00:00:00       11.0        6.0          7.0         4.0
          2019-09-05 00:00:00        8.0        6.0          9.0        10.0
          2019-09-06 00:00:00        4.0        5.0          7.0         6.0
          2019-09-07 00:00:00        6.0        7.0          4.0         0.0
...                                  ...        ...          ...         ...
9DU       2021-10-20                 2.0        0.0          0.0         0.0
          2021-10-21                 0.0        1.0          1.0         0.0
          2021-10-22                 1.0        1.0          1.0         0.0
          2021-10-25                 0.0        0.0          0.0         0.0
          2021-10-28                 1.0        1.0          1.0         0.0

                               NineteenPM  TwentyPM  TwentyOnePM  TwentyTwoPM  \
LotNumber Entry Date
5         2019-09-03 00:00:00         3.0       2.0          1.0          0.0
          2019-09-04 00:00:00         2.0       1.0          0.0          0.0
          2019-09-05 00:00:00         8.0       4.0          2.0          0.0
          2019-09-06 00:00:00         2.0       2.0          1.0          1.0
          2019-09-07 00:00:00         2.0       2.0          3.0          2.0
...                                   ...       ...          ...          ...
9DU       2021-10-20                  0.0       0.0          0.0          0.0
          2021-10-21                  0.0       0.0          0.0          0.0
          2021-10-22                  0.0       0.0          0.0          0.0
          2021-10-25                  0.0       0.0          0.0          0.0
          2021-10-28                  0.0       0.0          0.0          0.0

                               TwentyThreePM  TwentyFourPM
LotNumber Entry Date
5         2019-09-03 00:00:00            0.0           0.0
          2019-09-04 00:00:00            0.0           0.0
          2019-09-05 00:00:00            0.0           1.0
          2019-09-06 00:00:00            0.0           1.0
          2019-09-07 00:00:00            2.0           5.0
...                                      ...           ...
9DU       2021-10-20                     0.0           0.0
          2021-10-21                     0.0           0.0
          2021-10-22                     0.0           0.0
          2021-10-25                     0.0           0.0
          2021-10-28                     0.0           0.0

[6292 rows x 31 columns]

In [ ]:
df2.to_excel("df2.xlsx")

In [140]:
df3=df2.loc[(df2['LotNumber']=='1DU')&(df2['LotNumber']=='2B')&(df2['LotNumber']=='40')&(df2['LotNumber']=='36')&(df2['LotNumber']=='82')&(df2['LotNumber']=='33'), ['LotNumber','Vehicle','Entry','Exit','OneAM','TwoAM','ThreeAm','FourAM','FiveAM','SixAM','SevenAM','EightAM','NinePM','TenAM','ElevenAM','TwelvePM','ThirteenPM','FourteenPM','SixteenPM','SeventeenPM','EighteenPM','NineteenPM']]

KeyError: 'LotNumber'

In [144]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6292 entries, (5, datetime.datetime(2019, 9, 3, 0, 0)) to ('9DU', '2021-10-28')
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rate/hr                 6292 non-null   float64
 1   All Day Rate            6292 non-null   int64
 2   Minutes for Daily Rate  6292 non-null   int64
 3   Min Minutes             6292 non-null   int64
 4   Min Minutes rate        6292 non-null   float64
 5   Year                    6292 non-null   int64
 6   Duration (minutes)      6292 non-null   float64
 7   OneAM                   6292 non-null   float64
 8   TwoAM                   6292 non-null   float64
 9   ThreeAM                 6292 non-null   float64
 10  FourAM                  6292 non-null   float64
 11  FiveAM                  6292 non-null   float64
 12  SixAM                   6292 non-null   float64
 13  SevenAM                 6292 non-null   float64
 14  EightAM                 6292 non-null   float64
 15  NineAM                  6292 non-null   float64
 16  TenAM                   6292 non-null   float64
 17  ElevenAM                6292 non-null   float64
 18  TwelvePM                6292 non-null   float64
 19  ThirteenPM              6292 non-null   float64
 20  FourteenPM              6292 non-null   float64
 21  FifteenPM               6292 non-null   float64
 22  SixteenPM               6292 non-null   float64
 23  SeventeenPM             6292 non-null   float64
 24  EighteenPM              6292 non-null   float64
 25  NineteenPM              6292 non-null   float64
 26  TwentyPM                6292 non-null   float64
 27  TwentyOnePM             6292 non-null   float64
 28  TwentyTwoPM             6292 non-null   float64
 29  TwentyThreePM           6292 non-null   float64
 30  TwentyFourPM            6292 non-null   float64
dtypes: float64(27), int64(4)
memory usage: 1.5+ MB

In [16]:
grouped_df

      Lot Number  Entry Date  Count
0              4  2020-07-20      1
1              4  2020-07-28      1
2              4  2020-07-29      1
3              4  2020-08-11      1
4              4  2020-08-13      1
...          ...         ...    ...
31025        9DU  2021-12-10      1
31026        9DU  2021-12-16      1
31027        9DU  2021-12-17      2
31028        9DU  2021-12-22      1
31029        9DU  2021-12-29      1

[31030 rows x 3 columns]

In [55]:
df['Lot Number']

0          4
1          4
2          4
3          4
4          4
          ..
496181     5
496182    74
496183    40
496184    13
496185     5
Name: Lot Number, Length: 496186, dtype: object

In [17]:
#df2 = pd.read_excel('LotSpaces.xlsx')

In [18]:
Mean_Daily_Occu=grouped_df.groupby(['Lot Number']).mean()

In [20]:
#Mean_Daily_Occu.join(df2,lsuffix='_caller', rsuffix='_other')

                Count Lot Number    Municipal Address         Location  Spaces
Lot Number
4            2.066327         2B    116 Campbell Ave.  Ottawa/Campbell    63.0
5           21.188420          8  293-297 King St. E.      King/Jarvis    49.0
7           12.656918          7      171 Main St. E.    Main/Ferguson    61.0
8           17.816550         62          14 Vine St.      Vine/MacNab   137.0
9            8.745351         36      22 Mulberry St.   James/Mulberry    49.0
...               ...        ...                  ...              ...     ...
4DU         24.467949        NaN                  NaN              NaN     NaN
5DU         20.557398        NaN                  NaN              NaN     NaN
6DU         16.693095        NaN                  NaN              NaN     NaN
7DU         56.989189        NaN                  NaN              NaN     NaN
9DU         14.459150        NaN                  NaN              NaN     NaN

[70 rows x 5 columns]

In [6]:
Mean_Daily_Occu.to_excel("Mean_Daily_Occupation.xlsx")